body {
  margin: 0;
  background: url('./images/header-illsutration-mobile.png') no-repeat center 0;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'inter', serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem;
  color: #344563;
  display: inline-block;
}


#nav-container {
  display: flex;
  justify-content: center;
}

#headline-section {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  align-self: center;
  text-align: center;
  margin: 0;
  font-size: 2.9rem;
}

aside > h2 {
  color: #172b4d;
  margin: 0;
}

aside > p {
  font-size: 1.44rem;
  color: #172b4d;
  max-width: 44vw;
}

#info {
  color: #36b37e;
  display: block;
  font-size: 2.8rem;
}

@media only screen and (max-width: 600px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-around;
  }

  #nav-container {
    display: block;
  }

  .welcome {
    font-family: 'inter', serif;
    font-weight: 600;
    font-size: 1.25rem;
  }

  #drop-btn {
    align-self: center;
  }

  aside > p {
    font-size: 1.44rem;
    color: #172b4d;
    max-width: 100vw;
  }

  body {
    background: url('./images/header-illsutration-mobile.png') no-repeat center center;
  }
}
